<p>Dear <%= @first_name %>, </p>
<p>Your account has been activated.<p>
<p>Sign In Email: <b><%= @email %></b> </p>
<p>Role: <b><%= @role_name %></b></p>
<p>Assigned to Tenant: <b><%= @tenant_name %></b></p>
<p>Thanks & Regards</p>
</p><%= @admin_email %></p>
<p>(for any clarification please contact the Admin)</p>